$link-color: darken(#a5d3ff, 20%);
$link-hover-color: darken(#e6f7ff, 15%);

$input-bg-light: lighten($gray-200, 35%) !default;

$list-group-bg: #163450;
$card-bg: #163450;
$modal-content-bg: #204c74;
$popover-bg: #204c74;
$input-group-addon-color: #1a3e5f;